<div class="tankSale span12">
  <h1>Tank Sale Form</h1>
  <form id="tankSale" class="form-vertical" action>
    <div class="row">
      <div class="span4">
        <h2>Tank Choice 1</h2>
        <div class="control-group">
          <label for="tank1">Tank 1</label>
          <div class="controls">
            <textarea class="span4" name="tank1" rows="5"></textarea>
          </div>
        </div>
      </div>
      <div class="span4">
        <h2>Tank Choice 2</h2>
        <div class="control-group">
          <label for="tank2">Tank 2</label>
          <div class="controls">
            <textarea class="span4" name="tank2" rows="5"></textarea>
          </div>
        </div>
      </div>
      <div class="span4">
        <h2>Tank Choice 3</h2>
        <div class="control-group">
          <label for="tank3">Tank 3</label>
          <div class="controls">
            <textarea class="span4" name="tank3" rows="5"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span4 offset8">
        <a href="#" class="btn btn-large btn-success">Submit Tank Request</a>
        <a href="#" class="btn btn-large btn-danger">Reset Form</a>
      </div>
    </div>
  </form>
</div>